{% extends 'base.html' %} 
{% load static %} 

{%block title%} سجل لتلقي لقاح كورونا {%endblock%} 

{% block css_files %}
{% comment %} <link rel="stylesheet" href="{% static "news/post.css" %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static "news/index.css" %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static "news/button.css" %}"> {% endcomment %}
<link rel="stylesheet" href="{% static "news/post.css" %}">
<link rel="stylesheet" href="{% static "news/all-posts.css" %}">
<link rel="stylesheet" href="{% static "news/register.css" %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "news/button.css" %}">


<link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet"></link>
{% endblock %} 



{%block content%}



<section id="all-posts">
        <h2>سجّل للقاح فايروس كورونا</h2>
        <form method="POST" action="/register">
            {% csrf_token %}
            

            
            <div class="form-group">
                <label for="name">الاسم ثلاثي</label>
                {{ form.personName }}
            </div>
            <div class="form-group">
                <label for="phone">العمر</label>
                {{ form.age }}
            </div>
            <div class="form-group">
                <label for="phone">رقم الهاتف</label>
                {{ form.phone }}
            </div>
            <div class="form-group">
                <label for="email">البريد الالكتروني</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">نوع اللقاح المطلوب</label>
                {{ form.typeVaccine }}
            </div>
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">هل أصبت بفايروس كورونا سابقا؟</legend>
                <div class="col-sm-10 options">
                    {{ form.sickBefore }}
                </div>
            </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">أي ملاحظات أخرى</label>
                {{ form.notes }}
            </div>


            <button class="button-31" role="button">سجّل للقاح فايروس كورونا</button>
        </form>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script type="module" src="{% static "news/register-form.js" %}"></script>
    <script>
        function submit() {
            console.log("Submitted")
        }
        
    </script>
{%endblock%}
