{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{%static "app.css"%}">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet"></link>

    {%block css_files%}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <h1><a href="{% url 'starting-page' %}">الصفحة الرئيسية</a></h1>
        <nav>
            {% if not user.is_authenticated %}
                <a href="http://site.iugaza.edu.ps/covid19/">الجامعة الإسلامية - غزة</a>
            {% else %}
                <a href="{% url 'data' %}">عرض المسجلين</a>
            {% endif %}
            <br>
            <a href="{% url 'images' %}">ألبوم صور</a>
            {% if not user.is_authenticated %}
                <br>
                <a href="{% url 'login' %}">تسجيل الدخول</a>
            {% else %}
                <br>
                <a href="{% url 'logout' %}">تسجيل الخروج</a>
            {% endif %}
        </nav>
    </header>

    {%block content%}
    {%endblock%}
</body>
</html>